html {
    min-height: 100%;
    height: auto;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#000, 70%, #4C4E52);
    background-size: cover;
}
.About {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto";
    width: 100%;
}
.Info {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: #777;
    font-family: "Roboto";
    width: 100%;
    margin-top: 50px;
}